.plate{
    width: 600px;
    height: 500px;
    box-shadow: 4px 3px 2px rgb(118, 83, 247);
    background-color: blueviolet;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}
.title p{
    margin-top: -10px;
}
form{
    height: 300px;
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
}
input{
    width: 200px;
    height: 30px;
}
.input{
    display: flex;
    gap: 34px;
}
.select{
    display: flex;
    gap: 34px;
    margin-top: 30px;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.last button{
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}
select{
    width: 208px;
    height: 30px;
}
textarea{
    width: 414px;
    height: 70px;
}

button{
    height: 30px;
    width: 90px;
}
.foot{
    margin-left: 190px;
}
@media screen and (max-width:576px){
    .plate{
        width: 80%;
        height: 90%;
    }
    .input{
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        gap: 10px;
    }
    .select{
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        gap: 10px;
    }
    textarea{
        width: 70%;
        height: 60px;
        margin-right: 100px;
    }
    .last{
        margin-top: 10px;
    }
    .last button{
        margin-right: 100px;
    }
    .foot{
        margin-top: 20px;
        width: 80%;
        margin-left: 75px;
    }
}